body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
}
.container {
  max-width: 450px;
  height: auto;
  margin: 60px auto;
}

// @font-face {
//   font-family: AdobeGurmukhi-Regular;
//   /* Имя шрифта */
//   src: url(/fonts/AdobeGurmukhi-Regular.otf);
//   /* Путь к файлу со шрифтом */
// }

// @font-face {
//   font-family: AdobeGurmukhi-Bold;
//   /* Имя шрифта */
//   src: url(/fonts/AdobeGurmukhi-Bold.otf);
//   /* Путь к файлу со шрифтом */
// }
